<ion-content class="ion-padding">
  <ion-button color="primary" routerLink="/public/register">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <div class="form-container">
    <ion-icon class="icon-register" name="person"></ion-icon>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-input
        label="Nombre de usuario o email"
        label-placement="floating"
        fill="outline"
        class="input-spacing"
        formControlName="username"
      ></ion-input>

      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        class="input-spacing"
        formControlName="password"
      ></ion-input>

      <ion-button
        [disabled]="form.invalid"
        routerLink="/private"
        expand="block"
        shape="round"
        color="primary"
        type="submit"
        >Entrar</ion-button
      >
    </form>
  </div>
</ion-content>
