.icon-register {
  font-size: 80px;
}

.form-container {
  text-align: center;
  margin-top: 20%;
}

.input-spacing {
  margin-bottom: 16px;
}

ion-button {
  text-transform: initial;
}

form {
  margin-bottom: 20px;
}
