<ion-content class="ion-padding">
  <ion-button color="primary" routerLink="">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <div class="form-container">
    <ion-icon class="icon-register" name="person-add"></ion-icon>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-input
        label="Nombre de usuario o nickname"
        label-placement="floating"
        fill="outline"
        class="input-spacing"
        formControlName="username"
      ></ion-input>

      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        class="input-spacing"
        formControlName="email"
      ></ion-input>

      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        class="input-spacing"
        formControlName="password"
      ></ion-input>

      <ion-button
        [disabled]="form.invalid"
        expand="block"
        shape="round"
        color="primary"
        type="submit"
        >Darme de alta</ion-button
      >
    </form>

    <a routerLink="/public/login">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</ion-content>
